@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(110, 169, 236);
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a, .footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover {
    color: #adadad
}

.main-header, .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.main-footer {
    height: 70px;
    background-color: #202027;
    font-weight: bold;
}

.social-link img {
    width: 1em;
    margin-right: .25rem;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}

.content-box {
    max-width: 8050px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    height: 100%;
    background: url() no-repeat;
    background-size: cover;
}

.right {
    padding: 20px 40px;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0,0,0,0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}

.area {
    min-height: 15px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
  
.image-gallery > li {
    flex-basis: 300px; /* width: 350px; */
}
  
.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery::after {
    content: "";
    flex-basis: 300px;
}